<% include ../partials/header %>

<div class="container forms">
    <div class="row">
        <h1 class="form-group authPage">Register</h1>
        <form action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="form-control btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>