.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete {
    display: inline;
}

#authPage{
    text-align: center;
}

.forms {
    width: 400px;
}

.info:hover {
    background: steelblue;
    color: white;
}